button img {
    height: 29px;
    width: 29px;
}


.word-searched,
.word-details,
.word-meaning,
.example {
    background-color: aliceblue;
    height: 70px;
    width: 400px;
    margin-top: 10px;
    border-radius: 10px;
}

.span {
    font-size: 20px;
}

h1,
.results,
.form {
    margin-left: 20px;
}