* {
    font-family: 'Lucida Sans';
margin: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-cont{
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
}


.word,
.mean,
.eg {
    margin: 4%;
}

.word {
    font-size: 15px;
}

.tags {
    color: rgb(0, 217, 255);
    font-size: 17px;
}