* {
    font-family: 'Lucida Sans';
margin: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-55deg, rgba(57, 71, 210, 0.7970779376203606) 30%, rgba(84, 40, 156, 0.7018398423822654) 71%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.container h1 {
    margin-top: 0px;
}

/* word form */
.form {
    width: fit-content;
    display: flex;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
}

.results:hover {
    display: none;
}

.word,
.mean,
.eg {
    margin: 4%;
}

.word {
    font-size: 20px;
}

.tags {
    color: rgb(54, 19, 77);
    font-size: 17px;
}